extends layout.pug
append head
    title Home

append content
    div(class='mynav')
        div(class='title')
            h1 Home=
        div(class='logout')
            form(action="/logout" method="post")
                button(class="logout-btn" type="submit") logout   
    div(class='container')
        div(class='heading')
            h3 Group Info
        table(id='members')
            tr 
                th Name
                th Email
                th Role
                th Status
            each val in userData
                tr 
                    td= val.firstN + " " + val.lastN
                    td= val.email
                    td member
                    if val.isActive === 'Yes'
                        td="Active"
                    else if val.isActive === 'No'
                        td="Inactive"
        br
        div(class='heading')
            h3 Meeting Feedback
        br
        form(action='/comments' method='post')
            h5(style='text-align:center') Did your group meet this month?
            div(class='rad-container')
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="met", value="Yes" required) 
                    | 
                    a(class='rad-text') Yes, we did
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="met", value="No" required)
                    |
                    a(class='rad-text') No, we did not
            hr
            div(class='comment-container')
                h5 Comments:
                textarea(name='comments' id='comments' rows='5' required)
            center
                br
                input(class='btn-blue' type="submit")
                h3=errMessage
        div(class='heading')
            h3 Status
        form(action='isActive' method='post')
            br
            h5(style='text-align:center') Change your online status:
            div(class='rad-container')
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="isActive", value='Yes') 
                    | 
                    a(class='rad-text') Active
                div(class='rad-buttons')
                    input(class="rad" type="radio", name="isActive", value='No')
                    |
                    a(class='rad-text') Inactive
            center
                br
                input(class='btn-blue' type="submit")
        div(class='heading')
            h3 Preferences
        center 
            p Change Department Preferences:
            a(href="preferences")
                button(class='btn-blue') Preferences